<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="/assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Issues</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="/assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/assets/css/demo.css" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
	<style media="screen">
	a {
    text-decoration: inherit;
		color: inherit;
}
		.upvoteCount {
			margin: 0px;
			margin-left: 10%;
			text-align: center;
      font-size: 30px;
		}
	</style>
</head>
<body>

<div class="wrapper">
<%- include side-bar.ejs %>
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/dashboard">Issue for Bhubaneswar</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/users/signout">
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row" id='<%=issue._id%>'>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                              <div class="row">
                                <div class="col-md-1 vote">
                                  <div class="row">
                                    <p class='upvoteCount'>
                                      <%=issue.upvotes%> Votes
                                    </p>
                                  </div>
                                </div>
                                <div class="col-md-8">
                                  <a href="/polls/"><h4 class="title"><%=issue.name%></h4></a>
                                  <p class="category"><%=issue.description%></p>
                                </div>
                                <div class="col-md-2">
                                  <% if(issue.marked_for_consideration) {
                                  %>
                                  <h4 style="color:green">Under Review</h4>
                                  <%}
                                  else{
                                  %>
                                  <div class='btn btn-success' onclick="mark('<%=issue._id%>')">Mark for consideration</div>
                                  <%
                                }%>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id='<%=issue._id%>'>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="content">
                              <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                  <textarea id='msg' name="name" rows="8" cols='80'></textarea>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-2 col-md-offset-4">
                                  <div class="btn btn-success" id='resolve-button'>Resolve</div>
                                </div>
                                <div class="col-md-2">
                                  <div class="btn btn-danger" id='reject-button'>Reject</div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="content">
                        <div id="disqus_thread"></div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>

<%- include footer.ejs %>

    </div>
</div>




    <!--   Core JS Files   -->
    <script src="/assets/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="/assets/js/bootstrap-checkbox-radio-switch.js"></script>

	<!--  Charts Plugin -->
	<script src="/assets/js/chartist.min.js"></script>
		<script src="/assets/js/chartist-plugin-legend.js"></script>

    <!--  Notifications Plugin    -->
    <script src="/assets/js/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="/assets/js/light-bootstrap-dashboard.js"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script src="/assets/js/demo.js"></script>

      <script>

        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

        var disqus_config = function () {
        this.page.url = document.url;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = document.url; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };

        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://winterfellws.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <script type="text/javascript">
          $(document).ready(function() {
            $('#resolve-button').bind('click',function() {
              var msg = $('#msg').val();
              $.ajax({
                method:'POST',
                url : '/gov/resolve/'+'<%=issue._id%>',
                success : function(data) {
                  console.log(data);
                }
              })
            });
            $('#reject-button').bind('click',function() {
              var msg = $('#msg').val();
              $.ajax({
                method:'POST',
                url : '/gov/reject/'+'<%=issue._id%>',
                success : function(data) {
                  console.log(data);
                }
              })
            });
          })
        </script>
</body>
</html>
